<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<header class="bg-blue-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="rounded-full bg-blue-600 mx-5 w-32 h-12 flex items-center justify-center font-bold">
      <img class="" src="https://i.ibb.co/t44RYBf/logo-Atora.png" alt="Logo">
      <h1 class="text-2xl font-bold">ATORA</h1>
    </div>
    <nav>
      <ul class="flex space-x-4">
        <button
          class="bg-white text-blue-600 px-4 py-2 rounded-lg font-semibold hover:bg-gray-100 transition"
          (click)="navigateToProfile()"
        >
          Profile
        </button>
      </ul>
    </nav>
  </div>
</header>

<div class="container mx-auto max-w-lg mt-10 shadow-lg rounded-lg overflow-hidden">
  <!-- Header -->
  <div class="bg-blue-500 text-white p-4 flex items-center">
    <div class="rounded-full bg-blue-700 w-12 h-12 flex items-center justify-center font-bold">
      {{dpi.nom_complet_patient.charAt(0).toUpperCase()}}
    </div>
    <div class="ml-4">
      <h2 class="text-lg font-bold">{{dpi.nom_complet_patient}}</h2>
      <p class="text-sm">Numéro Sécurité Sociale: {{dpi.nss}}</p>
    </div>
  </div>

  <!-- Tab Buttons -->
  <div class="bg-gray-100 flex justify-around p-4">
    <div class="bg-gray-200 flex p-2 rounded-lg">
      <button class="px-4 py-2 text-sm font-semibold rounded-md transition-all ml-2 mr-2" [class.bg-white]="activeTab === 'personal'" [class.text-black]="activeTab === 'personal'" [class.text-gray-700]="activeTab !== 'personal'" [class.bg-gray-200]="activeTab !== 'personal'" (click)="setActiveTab('personal')">
        Informations Personnelles
      </button>
      <button class="px-4 py-2 text-sm font-semibold rounded-md transition-all ml-2 mr-2" [class.bg-white]="activeTab === 'medical'" [class.text-black]="activeTab === 'medical'" [class.text-gray-700]="activeTab !== 'medical'" [class.bg-gray-200]="activeTab !== 'medical'" (click)="setActiveTab('medical')">
        Informations Médicales
      </button>
      <button class="px-4 py-2 text-sm font-semibold rounded-md transition-all ml-2 mr-2" [class.bg-white]="activeTab === 'contact'" [class.text-black]="activeTab === 'contact'" [class.text-gray-700]="activeTab !== 'contact'" [class.bg-gray-200]="activeTab !== 'contact'" (click)="setActiveTab('contact')">
        Contact d'Urgence
      </button>
    </div>
  </div>

  <!-- Content -->
  <div class="bg-white p-6">
    <div [style.display]="activeTab === 'personal' ? 'block' : 'none'">
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/GTrZnpK/date.png" alt="date">
        <div>
          <p class="text-sm mb-1 font-bold">Date de Naissance</p>
          <p class="text-sm">{{dpi.date_de_naissance}}</p>
        </div>
      </div>
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/7vKtRMD/maison.png" alt="adresse">
        <div>
          <p class="text-sm mb-1 font-bold">Adresse</p>
          <p class="text-sm">{{dpi.adresse}}</p>
        </div>
      </div>
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/n61hrMv/appel.png" alt="phone">
        <div>
          <p class="text-sm mb-1 font-bold">Téléphone</p>
          <p class="text-sm">212-456-8908</p>
        </div>
      </div>
    </div>

    <div [style.display]="activeTab === 'medical' ? 'block' : 'none'">
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/7WC5DbM/coeur.png" alt="coeur">
        <div>
          <p class="text-sm mb-1 font-bold">Mutuelle</p>
          <p class="text-sm">Mutuelle X</p>
        </div>
      </div>
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/Ws2jBrv/client.png" alt="medecin">
        <div>
          <p class="text-sm mb-1 font-bold">Médecin Traitant</p>
          <p class="text-sm">Dr. Katherine Fell</p>
        </div>
      </div>
    </div>

    <div [style.display]="activeTab === 'contact' ? 'block' : 'none'">
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/N3Gg0Vy/ajouter-un-utilisateur.png" alt="personne de contact">
        <div>
          <p class="text-sm mb-1 font-bold">Personne de Contact</p>
          <p class="text-sm">Terry Schimmel</p>
        </div>
      </div>
      <div class="bg-slate-300 flex items-center rounded-md p-2 mb-4">
        <img class="w-10 h-10 mr-4" src="https://i.ibb.co/n61hrMv/appel.png" alt="tel">
        <div>
          <p class="text-sm mb-1 font-bold">Téléphone du Contact</p>
          <p class="text-sm">212-678-2134</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Consultation Button -->
<div class="flex justify-center items-center mt-10">
  <button
    class="w-48 h-12 bg-green-500 text-white px-4 py-2 rounded-lg font-semibold hover:bg-green-600 transition"
    (click)="openAddConsultationModal()"
  >
    <i class="fas fa-plus mr-2"></i>Add Consultation
  </button>
</div>


<!-- Add Consultation Modal -->
<div *ngIf="isAddConsultationModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 z-50">
  <div class="bg-white rounded-lg p-6 w-full max-w-2xl max-h-[90vh] overflow-y-auto transition-all duration-300">
    <h2 class="text-xl font-bold mb-4">Ajouter une Consultation</h2>
    <form (ngSubmit)="addConsultation()">
      <!-- Résumé Section -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Symptoms</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newConsultation.resume.symptoms"
          name="symptoms"
          placeholder="Symptoms"
          required
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Diagnosis</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newConsultation.resume.diagnosis"
          name="diagnosis"
          placeholder="Diagnosis"
          required
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Details</label>
        <textarea
          class="w-full p-2 border rounded"
          [(ngModel)]="newConsultation.resume.details"
          name="details"
          placeholder="Details"
          required
        ></textarea>
      </div>

      <!-- Ordonnances Section -->
      <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Ordonnances</h3>
        <div *ngFor="let ordonnance of newConsultation.ordonnance.prescription; let i = index" class="mb-4">
          <div class="grid grid-cols-2 gap-4">
            <input
              class="p-2 border rounded"
              [(ngModel)]="ordonnance.dose"
              [name]="'dose' + i"
              placeholder="Dose"
              required
            >
            <input
              class="p-2 border rounded"
              [(ngModel)]="ordonnance.duree"
              [name]="'duree' + i"
              placeholder="Durée"
              required
            >
            <input
              class="p-2 border rounded"
              [(ngModel)]="ordonnance.medicament.nom"
              [name]="'medicamentNom' + i"
              placeholder="Nom du médicament"
              required
            >
            <input
              class="p-2 border rounded"
              [(ngModel)]="ordonnance.medicament.description"
              [name]="'medicamentDescription' + i"
              placeholder="Description du médicament"
              required
            >
            <input
              class="p-2 border rounded"
              [(ngModel)]="ordonnance.medicament.quantite"
              [name]="'medicamentQuantite' + i"
              placeholder="Quantité"
              type="number"
              required
            >
          </div>
          <!-- Remove Ordonnance Button -->
          <button
            type="button"
            class="bg-red-500 text-white px-4 py-2 rounded mt-2"
            (click)="newConsultation.ordonnance.prescription.splice(i, 1)"
          >
            <i class="fas fa-trash mr-2"></i>Remove
          </button>
        </div>
        <!-- Add Ordonnance Button -->
        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded" (click)="openOrdonnanceModal()">
          <i class="fas fa-plus mr-2"></i>Add Ordonnance
        </button>
      </div>

<!-- Bilan Biologique Section -->
<div class="mb-4" *ngIf="showBilanBiologiqueForm">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-lg font-semibold">Bilan Biologique</h3>
    <button
      type="button"
      class="bg-red-500 text-white px-4 py-2 rounded flex items-center"
      (click)="removeBilanBiologiqueSection()"
    >
      <i class="fas fa-trash mr-2"></i>Remove
    </button>
  </div>
  <div class="mb-4">
    <label class="block text-sm font-medium mb-2">Description</label>
    <input
      class="w-full p-2 border rounded"
      [(ngModel)]="newConsultation.bilan_biologique.description"
      name="bilanBiologiqueDescription"
      placeholder="Description"
      required
    >
  </div>
  <!-- Display Parameters -->
  <div *ngFor="let param of newConsultation.bilan_biologique.parameters; let i = index" class="mb-4">
    <div class="flex items-center space-x-4">
      <span class="font-semibold">{{ param }}</span>
      <button
        type="button"
        class="bg-red-500 text-white px-4 py-2 rounded"
        (click)="removeBilanBiologiqueParameter(param)"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  <!-- Add Parameter Input -->
  <div class="grid grid-cols-1 gap-4">
    <input
      class="p-2 border rounded"
      [(ngModel)]="newBilanBiologiqueParameter.key"
      name="bilanBiologiqueKey"
      placeholder="Parameter Key"
      required
    >
  </div>
  <button
    type="button"
    class="bg-blue-500 text-white px-4 py-2 rounded mt-2"
    (click)="addBilanBiologiqueParameter()"
  >
    <i class="fas fa-plus mr-2"></i>Add Parameter
  </button>
</div>

      <!-- Button to Add Bilan Biologique Section -->
      <button
        type="button"
        class="bg-blue-500 text-white px-4 py-2 rounded mt-6 mr-10 mb-10"
        (click)="addBilanBiologiqueSection()"
        *ngIf="!showBilanBiologiqueForm"
      >
        <i class="fas fa-plus mr-2"></i>Add Bilan Biologique
      </button>

      <!-- Bilan Radiologique Section -->
      <div class="mb-4" *ngIf="showBilanRadiologiqueForm">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-semibold">Bilan Radiologique</h3>
          <button
            type="button"
            class="bg-red-500 text-white px-4 py-2 rounded flex items-center"
            (click)="removeBilanRadiologiqueSection()"
          >
            <i class="fas fa-trash mr-2"></i>Remove
          </button>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium mb-2">Description</label>
          <input
            class="w-full p-2 border rounded"
            [(ngModel)]="newConsultation.bilan_radiologue.description"
            name="bilanRadiologiqueDescription"
            placeholder="Description"
            required
          >
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium mb-2">Type</label>
          <input
            class="w-full p-2 border rounded"
            [(ngModel)]="newConsultation.bilan_radiologue.type"
            name="bilanRadiologiqueType"
            placeholder="Type"
            required
          >
        </div>
      </div>

      <!-- Button to Add Bilan Radiologique Section -->
      <button
        type="button"
        class="bg-blue-500 text-white px-4 py-2 rounded mt-2"
        (click)="addBilanRadiologiqueSection()"
        *ngIf="!showBilanRadiologiqueForm"
      >
        <i class="fas fa-plus mr-2"></i>Add Bilan Radiologique
      </button>

      <!-- Form Actions -->
      <div class="flex justify-end space-x-4">
        <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded" (click)="closeAddConsultationModal()">
          Annuler
        </button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Add Ordonnance Modal -->
<div *ngIf="isOrdonnanceModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 z-50">
  <div class="bg-white rounded-lg p-6 w-full max-w-2xl max-h-[90vh] overflow-y-auto transition-all duration-300">
    <h2 class="text-xl font-bold mb-4">Ajouter une Ordonnance</h2>
    <form (ngSubmit)="addOrdonnance()">
      <!-- Ordonnance Fields -->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Dose</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newOrdonnance.dose"
          name="dose"
          placeholder="Dose"
          required
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Durée</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newOrdonnance.duree"
          name="duree"
          placeholder="Durée"
          required
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Nom du médicament</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newOrdonnance.medicament.nom"
          name="medicamentNom"
          placeholder="Nom du médicament"
          required
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Description du médicament</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newOrdonnance.medicament.description"
          name="medicamentDescription"
          placeholder="Description du médicament"
          required
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Quantité</label>
        <input
          class="w-full p-2 border rounded"
          [(ngModel)]="newOrdonnance.medicament.quantite"
          name="medicamentQuantite"
          placeholder="Quantité"
          type="number"
          required
        >
      </div>

      <!-- Form Actions -->
      <div class="flex justify-end space-x-4">
        <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded" (click)="closeOrdonnanceModal()">
          Annuler
        </button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<footer id="contact" class="mt-10 bg-blue-600 text-white p-4">
  <div class="container mx-auto text-center">
    <p>© 2023 ATORA. Tous droits réservés.</p>
    <p class="mt-2">Contactez-nous : support&#64;atora.com</p>
  </div>
</footer>