<input
      type="text"
      class="border border-gray-300 rounded px-4 py-2 w-1/3"
      placeholder="Search by Patient ID"
      [(ngModel)]="searchText"
      (input)="filterTable()"
    />
<div class="bg-white p-4 rounded-lg shadow-md mt-5">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">DPI ID</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Patient ID</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date Created</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Administrative Comment</th>
          <th [style.display]=" showtodoctor() ? 'block' : 'none'" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let dpi of filteredData">
          <td class="px-6 py-4 whitespace-nowrap">{{ dpi.id_dpi }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ dpi.patient }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ dpi.date_creation }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ dpi.commentaire_administratif }}</td>
          <td [style.display]=" showtodoctor() ? 'block' : 'none'" class="px-6 py-4 whitespace-nowrap">
            <button
              class="bg-white text-gray-900 px-4 py-2 rounded border hover:bg-gray-100 transition"
              (click)="handleRowAction(dpi.patient)"
            >
              View 
            </button>
        </tr>
      </tbody>
    </table>
  </div>
  
